<p>
    <b>Logged User:</b> {{loggedUser.name}}
</p>

<div>
    <p>
        <span>Name:</span><input type="text" (change)="setName($event)" value={{selectedUser.name}}/>
    </p>

    <p>
        <span>Age:</span><input type="text" (change)="setAge($event)" value={{selectedUser.age}}/>
    </p>
    <p>
        <button (click)="save()">Save</button>
    </p>

</div>

<p>
    <b>Users</b>
</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>

    <tr *ngFor="let user of allUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td><span (click)="remove(user.id)">Remove</span></td>
    </tr>
</table>